@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&family=Outfit:wght@300&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  position: relative;
  max-width: 90rem;
  margin-inline: auto;
}

.rt-button-link {
  display: inline-flex;
  height: 4.5rem;
}
.rt-button-link.reverse {
  flex-direction: row-reverse;
}
.rt-button-link .text,
.rt-button-link .pattern {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rt-button-link .text {
  padding-inline: 2rem 2.1875rem;
  background-color: #151515;
  color: #fff;
  font-family: "Big Shoulders Display", cursive;
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: 3.375px;
}
.rt-button-link .text:hover {
  background-color: #d5966c;
}
.rt-button-link .pattern {
  background-color: #d5966c;
  width: 3.5rem;
}
.rt-button-link:hover .text {
  background-color: #d5966c;
}
.rt-button-link:hover .pattern {
  background-color: #151515;
}

@media screen and (min-width: 45rem) {
  .rt-section-hero {
    display: grid;
    grid-template-columns: 27.3125rem 1fr;
    padding-right: calc(50vw - 21.53125rem);
  }
}
@media screen and (min-width: 75rem) {
  .rt-section-hero {
    height: 50rem;
    display: block;
    padding-top: 11.8125rem;
    padding-inline: calc(min(50vw, 720px) - 555px) calc(min(50vw, 720px) - 556px);
  }
}

@media screen and (min-width: 75rem) {
  .rt-section-hero .background {
    position: absolute;
    height: 50rem;
    z-index: -1;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
  }
  .rt-section-hero .background::before {
    content: "";
    display: block;
    width: calc(min(50vw, 720px) - 556px + 17.8125rem);
    height: 50rem;
    background-color: #151515;
  }
}
.rt-section-hero .background .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 75rem) {
  .rt-section-hero .background .image-container {
    width: 33.75rem;
  }
}
.rt-section-hero .background .image {
  width: 100%;
  height: auto;
}

.rt-section-hero .content {
  margin-top: 2rem;
  margin-inline: 4.2666666667%;
  display: grid;
  grid-template-columns: 100%;
  gap: 2rem;
}
@media screen and (min-width: 45rem) {
  .rt-section-hero .content {
    margin: 9.0625rem 0 0 -3rem;
    max-width: 32.125rem;
    gap: 3rem;
  }
}
@media screen and (min-width: 75rem) {
  .rt-section-hero .content {
    margin: 0;
    grid-template-columns: 28.5rem 21.875rem;
    max-width: unset;
    width: 100%;
    justify-content: space-between;
    gap: 3rem;
  }
}
.rt-section-hero .content .title {
  font-family: "Big Shoulders Display", cursive;
  font-size: 3.75rem;
  font-weight: 900;
  line-height: 0.9166666667;
  color: #151515;
}
@media screen and (min-width: 45rem) {
  .rt-section-hero .content .title {
    font-size: 4.375rem;
    line-height: 0.9285714286;
  }
}
@media screen and (min-width: 75rem) {
  .rt-section-hero .content .title {
    font-size: 6rem;
    line-height: 0.9166666667;
  }
}
@media screen and (min-width: 75rem) {
  .rt-section-hero .content .title {
    width: 28.5rem;
    position: relative;
  }
  .rt-section-hero .content .title::before {
    content: "MODERN ART GALLERY";
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Big Shoulders Display", cursive;
    font-size: 3.75rem;
    font-weight: 900;
    line-height: 0.9166666667;
    color: #151515;
    color: white;
    clip-path: polygon(0 0, 17.8125rem 0, 17.8125rem 100%, 0 100%);
  }
}
@media screen and (min-width: 75rem) and (min-width: 45rem) {
  .rt-section-hero .content .title::before {
    font-size: 4.375rem;
    line-height: 0.9285714286;
  }
}
@media screen and (min-width: 75rem) and (min-width: 75rem) {
  .rt-section-hero .content .title::before {
    font-size: 6rem;
    line-height: 0.9166666667;
  }
}
.rt-section-hero .content .description {
  font-size: 1.125rem;
  line-height: 1.5555555556;
  color: #444444;
}
@media screen and (min-width: 75rem) {
  .rt-section-hero .content .description {
    width: 21.875rem;
    line-height: 1.4545454545;
    font-size: 1.375rem;
  }
}
@media screen and (min-width: 75rem) {
  .rt-section-hero .content .rt-button-link {
    grid-column: 2/span 1;
  }
}

.rt-section-gallery {
  margin-top: 7.5rem;
  margin-inline: 4.2666666667%;
  display: grid;
  grid-template-columns: 100%;
  gap: 1rem;
}
@media screen and (min-width: 45rem) {
  .rt-section-gallery {
    max-width: 43.0625rem;
    margin-inline: auto;
    gap: 0.6875rem;
    grid-template-columns: 17.5rem 1fr 17.5rem;
    grid-template-rows: 25rem 19.5625rem auto;
  }
}
@media screen and (min-width: 75rem) {
  .rt-section-gallery {
    margin: 11.25rem 0 0 0;
    max-width: unset;
    padding-inline: calc(min(50vw, 720px) - 555px) calc(min(50vw, 720px) - 556px);
    grid-template-columns: 27.8125rem 1fr 27.8125rem;
    grid-template-rows: 25rem 19.5625rem auto;
    gap: 1.875rem;
  }
}
.rt-section-gallery .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rt-section-gallery .image-container:nth-of-type(1) {
  order: -1;
}
@media screen and (min-width: 45rem) {
  .rt-section-gallery .image-container:nth-of-type(1) {
    order: unset;
    grid-column: 2/span 2;
  }
}
@media screen and (min-width: 45rem) {
  .rt-section-gallery .image-container:nth-of-type(2) {
    grid-column: 1/span 2;
    grid-row: 2/span 2;
  }
}
.rt-section-gallery .content {
  margin: 0.5625rem auto 1rem auto;
  max-width: 21.4375rem;
}
@media screen and (min-width: 45rem) {
  .rt-section-gallery .content {
    max-width: 13.9375rem;
    margin: 2.25rem 0 0 0;
  }
}
@media screen and (min-width: 75rem) {
  .rt-section-gallery .content {
    margin-top: 3.75rem;
    max-width: 21.875rem;
  }
}
.rt-section-gallery .content .h2-title {
  font-family: "Big Shoulders Display", cursive;
  font-weight: 900;
  font-size: 3.125rem;
  text-transform: uppercase;
  line-height: 0.9;
  color: #151515;
}
@media screen and (min-width: 75rem) {
  .rt-section-gallery .content .h2-title {
    font-size: 3.75rem;
    line-height: 1;
  }
}
.rt-section-gallery .content .h2-description {
  margin-top: 1.3125rem;
  font-size: 1.125rem;
  line-height: 1.5555555556;
  color: #444444;
}
@media screen and (min-width: 45rem) {
  .rt-section-gallery .content .h2-description {
    margin-top: 1.5rem;
  }
}
@media screen and (min-width: 75rem) {
  .rt-section-gallery .content .h2-description {
    font-size: 1.375rem;
    line-height: math(32, 22);
  }
}
.rt-section-gallery .inspired {
  padding: 3rem 6.9970845481% 2.9375rem;
  background-color: #151515;
}
@media screen and (min-width: 45rem) {
  .rt-section-gallery .inspired {
    padding: 0 1.75rem 0 1.8125rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 75rem) {
  .rt-section-gallery .inspired {
    padding: 0 2.9375rem 0 3rem;
  }
}
.rt-section-gallery .inspired .h3-title {
  font-family: "Big Shoulders Display", cursive;
  font-weight: 900;
  font-size: 3.125rem;
  line-height: 0.9;
  color: #fff;
  text-transform: uppercase;
}
@media screen and (min-width: 75rem) {
  .rt-section-gallery .inspired .h3-title {
    font-size: 3.75rem;
    line-height: 1;
  }
}
.rt-section-gallery .inspired .h3-description {
  margin-top: 1.5rem;
  font-size: 1.125rem;
  line-height: 1.5555555556;
  color: #fff;
}
@media screen and (min-width: 75rem) {
  .rt-section-gallery .inspired .h3-description {
    margin-top: 2rem;
    font-size: 1.375rem;
    line-height: 1.4545454545;
  }
}

.rt-footer {
  margin-top: 7.5rem;
  width: 100%;
  height: 21rem;
  padding: 3rem 2rem;
  background-color: #151515;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2.375rem;
}
@media screen and (min-width: 45rem) {
  .rt-footer {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 13.5rem;
    padding: 3.5rem 2.5rem;
  }
}
@media screen and (min-width: 75rem) {
  .rt-footer {
    margin-top: 11.25rem;
    height: 15.25rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-inline: calc(min(50vw, 720px) - 555px) calc(min(50vw, 720px) - 556px);
  }
}
.rt-footer .logo {
  font-family: "Big Shoulders Display", cursive;
  font-weight: 900;
  font-size: 24px;
  line-height: 0.8333333333;
  text-transform: uppercase;
  width: 7.5rem;
}
@media screen and (min-width: 75rem) {
  .rt-footer .logo {
    font-size: 34px;
    line-height: 31px;
    width: 9.9375rem;
  }
}
.rt-footer .description {
  font-size: 1rem;
  line-height: 1.625;
}
@media screen and (min-width: 45rem) {
  .rt-footer .description {
    max-width: 17.5625rem;
    margin-left: -2.4375rem;
  }
}
@media screen and (min-width: 75rem) {
  .rt-footer .description {
    max-width: 26.875rem;
    font-size: 18px;
    line-height: 1.5555555556;
    margin-left: -4.34375rem;
  }
}
.rt-footer .social-links {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  width: 6.25rem;
}
.rt-footer .social-links a:hover .svg-path {
  fill: #d5966c;
}

.rt-leaflet-map .map-root {
  width: 100%;
  height: 500px;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../../styles/_html.scss%22,%22../../styles/_button-link.scss%22,%22../../styles/_mixins.scss%22,%22../../styles/_section-hero.scss%22,%22../../styles/_section-gallery.scss%22,%22../../styles/_footer.scss%22,%22../../styles/_leaflet-map.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AACQ;AACR;AAAA;AAAA;EAGE;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;;;AAGF;EACE;EACA;EACA;;;ACtBF;EACE;EACA;;AAEA;EACE;;AAGF;AAAA;EAEE;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA,aCgBoB;EDfpB;EACA;EACA;;AAEA;EACE;;AAIJ;EACE;EACA;;AAIA;EACE;;AAEF;EACE;;;ACzBJ;ECIF;IAEI;IACA;IACA;;;ADRF;ECIF;IAQI;IACA;IACA;IDaF;;;;AA3BA;ECmBF;IAEI;IACA;IACA;IACA;IACA;IACA;IACA;;EAEA;IACE;IACA;IDzBJ,OC0BkB;IDzBlB,QCyByD;IACrD;;;AAIJ;EACE;EACA;EACA;;ADxCF;ECqCA;IAMI;;;AAIJ;EACE;EACA;;;AAIJ;EACE;EDvBA;ECyBA;EACA;EACA;;AD1DA;ECqDF;IAQI;IACA;IACA;;;AD/DF;ECqDF;IAcI;IACA;IACA;IACA;IACA;IACA;;;AAGF;EAxFA,aDkCsB;ECjCtB;EACA;EACA;EACA;;ADSA;EC2EA;IAjFE;IACA;;;ADKF;EC2EA;IA5EE;IACA;;;ADAF;EC2EA;IAII;IACA;;EAEA;IACE;IACA;IACA;IACA;IAnGN,aDkCsB;ICjCtB;IACA;IACA;IACA;IAiGM;IACA;;;ADzFN;ECkFI;IAxFF;IACA;;;ADKF;ECkFI;IAnFF;IACA;;;AA8FF;EACE;EACA;EACA;;ADjGF;EC8FA;IAMI;IACA;IACA;;;ADtGJ;EC0GA;IAEI;;;;AC1HN;EACE;EF4CA;EE1CA;EACA;EACA;;AFSA;EEdF;IFiDE;IACA;IEzCE;IACA;IACA;;;AFGF;EEdF;IAeI;IACA;IFyBF;IEvBE;IACA;IACA;;;AAGF;EACE;EACA;EACA;;AAGF;EACE;;AFhBF;EEeA;IAII;IACA;;;AFpBJ;EEwBA;IAEI;IACA;;;AAIJ;EACE;EACA;;AFjCF;EE+BA;IAKI;IACA;;;AFrCJ;EE+BA;IAUI;IACA;;;AAGF;EACE,aFzBkB;EE0BlB;EACA;EACA;EACA;EACA;;AFnDJ;EE6CE;IASI;IACA;;;AAIJ;EACE;EACA;EACA;EACA;;AF/DJ;EE2DE;IAOI;;;AFlEN;EE2DE;IAWI;IACA;;;AAKN;EACE;EACA;;AF9EF;EE4EA;IAKI;IACA;IACA;IACA;;;AFpFJ;EE4EA;IAYI;;;AAGF;EACE,aFvEkB;EEwElB;EACA;EACA;EACA;EACA;;AFjGJ;EE2FE;IASI;IACA;;;AAIJ;EACE;EACA;EACA;EACA;;AF7GJ;EEyGE;IAOI;IACA;IACA;;;;AChIR;EACE;EHmBA,OGlBc;EHmBd,QGnBoB;EACpB;EACA;EACA;EACA;EACA;EACA;;AHMA;EGdF;IAWI;IACA;IACA;IACA;IACA;;;AHDF;EGdF;IAmBI;IACA;IACA;IACA;IHmBF;;;AGfA;EACE,aHQoB;EGPpB;EACA;EACA;EACA;EACA;;AHlBF;EGYA;IASI;IACA;IACA;;;AAIJ;EACE;EACA;;AH7BF;EG2BA;IAKI;IACA;;;AHjCJ;EG2BA;IAUI;IACA;IACA;IACA;;;AAIJ;EACE;EACA;EACA;EACA;;AAEA;EACE;;;AC/DJ;EJkBA,OIjBgB;EJkBhB,QIlBsB%22,%22file%22:%22index.css%22%7D */
