@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&family=Outfit:wght@300&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

main {
  position: relative;
  max-width: 95rem;
  margin-inline: auto;
}

.rt-button-link {
  display: inline-flex;
  height: 4.5rem;
}
.rt-button-link.reverse {
  flex-direction: row-reverse;
}
.rt-button-link .text,
.rt-button-link .pattern {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rt-button-link .text {
  padding-inline: 2rem 2.1875rem;
  background-color: #151515;
  color: #fff;
  font-family: "Big Shoulders Display", cursive;
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: 3.375px;
}
.rt-button-link .text:hover {
  background-color: #d5966c;
}
.rt-button-link .pattern {
  background-color: #d5966c;
  width: 3.5rem;
}
.rt-button-link:hover .text {
  background-color: #d5966c;
}
.rt-button-link:hover .pattern {
  background-color: #151515;
}

@media screen and (min-width: 45rem) {
  .rt-section-hero {
    display: grid;
    grid-template-columns: 27.3125rem 1fr;
    padding-right: 5.2083333333%;
  }
}
@media screen and (min-width: 75rem) {
  .rt-section-hero {
    display: block;
    padding-top: 11.8125rem;
    padding-inline: calc(min(50vw, 760px) - 555px) calc(min(50vw, 760px) - 556px);
  }
}

@media screen and (min-width: 75rem) {
  .rt-section-hero .background {
    position: absolute;
    height: 50rem;
    z-index: -1;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
  }
  .rt-section-hero .background::before {
    content: "";
    display: block;
    width: calc(min(50vw, 760px) - 556px + 17.8125rem);
    height: 50rem;
    background-color: #151515;
  }
}
.rt-section-hero .background .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 75rem) {
  .rt-section-hero .background .image-container {
    width: 33.75rem;
  }
}
.rt-section-hero .background .bg-image {
  width: 100%;
  height: auto;
}

.rt-section-hero .content {
  margin: 2rem 4.2666666667% 0;
  display: grid;
  grid-template-columns: 100%;
  gap: 2rem;
}
@media screen and (min-width: 45rem) {
  .rt-section-hero .content {
    margin: 9.0625rem 0 0 -3rem;
    max-width: 32.125rem;
    gap: 3rem;
  }
}
@media screen and (min-width: 75rem) {
  .rt-section-hero .content {
    margin: 0;
    grid-template-columns: 28.5rem 21.875rem;
    max-width: unset;
    width: 100%;
    justify-content: space-between;
    gap: 3rem;
  }
}
.rt-section-hero .content .title {
  font-family: "Big Shoulders Display", cursive;
  font-size: clamp(3.75rem, 9.1145833333vw, 6rem);
  font-weight: 900;
  line-height: 0.9166666667;
  color: #151515;
}
@media screen and (min-width: 75rem) {
  .rt-section-hero .content .title {
    width: 28.5rem;
    position: relative;
  }
  .rt-section-hero .content .title::before {
    content: "MODERN ART GALLERY";
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Big Shoulders Display", cursive;
    font-size: clamp(3.75rem, 9.1145833333vw, 6rem);
    font-weight: 900;
    line-height: 0.9166666667;
    color: #151515;
    color: white;
    clip-path: polygon(0 0, 17.8125rem 0, 17.8125rem 100%, 0 100%);
  }
}
.rt-section-hero .content .description {
  font-size: clamp(1.125rem, 2.34375vw, 1.375rem);
  line-height: 1.5555555556;
  color: #444444;
}
@media screen and (min-width: 75rem) {
  .rt-section-hero .content .description {
    width: 21.875rem;
    line-height: 1.4545454545;
  }
}
@media screen and (min-width: 75rem) {
  .rt-section-hero .content .rt-button-link {
    grid-column: 2/span 1;
  }
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../../styles/_html.scss%22,%22../../styles/_button-link.scss%22,%22../../styles/_mixins.scss%22,%22../../styles/_section-hero.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AACQ;AACR;AAAA;AAAA;EAGE;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;;;AAGF;EACE;EACA;EACA;;;ACtBF;EACE;EACA;;AAEA;EACE;;AAGF;AAAA;EAEE;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA,aCgBoB;EDfpB;EACA;EACA;;AAEA;EACE;;AAIJ;EACE;EACA;;AAIA;EACE;;AAEF;EACE;;;ACzBJ;ECNF;IAEI;IACA;IACA;;;ADEF;ECNF;IAQI;IACA;IDwBF;;;;AA3BA;ECQF;IAEI;IACA;IACA;IACA;IACA;IACA;IACA;;EAEA;IACE;IACA;IDdJ,OCekB;IDdlB,QCcyD;IACrD;;;AAIJ;EACE;EACA;EACA;;AD7BF;EC0BA;IAMI;;;AAIJ;EACE;EACA;;;AAIJ;EACE;EACA;EACA;EACA;;AD9CA;EC0CF;IAOI;IACA;IACA;;;ADnDF;EC0CF;IAaI;IACA;IACA;IACA;IACA;IACA;;;AAGF;EA5EA,aDkCsB;ECjCtB;EACA;EACA;EACA;;ADSA;EC+DA;IAII;IACA;;EAEA;IACE;IACA;IACA;IACA;IAvFN,aDkCsB;ICjCtB;IACA;IACA;IACA;IAqFM;IACA;;;AAKN;EACE;EACA;EACA;;ADrFF;ECkFA;IAMI;IACA;;;ADzFJ;EC6FA;IAEI%22,%22file%22:%22index.css%22%7D */
