@use './mixins' as *;

.rt-section-map {
 

  .map-container {
    @include size(100%, rem(550));

    @include media(tablet) {
      @include size(100%, rem(600));
    }    
  }

  .rt-button-link {
    position: absolute;
    z-index: 999;
    @include media(tablet) {
      margin-left: rem(39);
    }

    @include media(laptop) {
      margin-left: rem(156);
    }
  }
}
