@use './mixins' as *;
@use 'sass:math';

.rt-section-gallery {
  margin-top: rem(120);
  @include margin-container-mobile;
  display: grid;
  grid-template-columns: 100%;
  gap: rem(16);

  @include media(tablet) {
    @include margin-container-tablet;
    gap: rem(11);
    grid-template-columns: rem(280) 1fr rem(280);
    grid-template-rows: rem(400) rem(313) auto;
  }

  @include media(laptop) {
    margin: rem(180) 0 0 0;
    max-width: unset;
    @include container-laptop;
    grid-template-columns: rem(445) 1fr rem(445);
    grid-template-rows: rem(400) rem(313) auto;
    gap: rem(30);
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-container:nth-of-type(1) {
    order: -1;

    @include media(tablet) {
      order: unset;
      grid-column: 2 / span 2;
    }
  }

  .image-container:nth-of-type(2) {
    @include media(tablet) {
      grid-column: 1 / span 2;
      grid-row: 2 / span 2;
    }
  }

  .content {
    margin: rem(9) auto rem(16) auto;
    max-width: rem(343);

    @include media(tablet) {
      max-width: rem(223);
      margin: rem(36) 0 0 0;       
    }

    @include media(laptop) {
      margin-top: rem(60);
      max-width: rem(350);
    }

    .h2-title {
      font-family: $big-shoulders-display;
      font-weight: 900;
      font-size: rem(50);
      text-transform: uppercase;
      line-height: math.div(45, 50);
      color: color(almost-black);

      @include media(laptop) {
        font-size: rem(60);
        line-height: 1;
      }
    }

    .h2-description {
      margin-top: rem(21);
      font-size: rem(18);
      line-height: math.div(28, 18);
      color: color(dark-grey);

      @include media(tablet) {
        margin-top: rem(24);
      }

      @include media(laptop) {
        font-size: rem(22);
        line-height: math(32, 22);
      }
    }
  }

  .inspired {
    padding: rem(48) math.percentage(24 / 343) rem(47);
    background-color: color(almost-black);

    @include media(tablet) {
      padding: 0 rem(28) 0 rem(29);
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    @include media(laptop) {
      padding: 0 rem(47) 0 rem(48);
    }

    .h3-title {
      font-family: $big-shoulders-display;
      font-weight: 900;
      font-size: rem(50);
      line-height: math.div(45, 50);
      color: color(white);
      text-transform: uppercase;

      @include media(laptop) {
        font-size: rem(60);
        line-height: 1;
      }
    }

    .h3-description {
      margin-top: rem(24);
      font-size: rem(18);
      line-height: math.div(28, 18);
      color: color(white);

      @include media(laptop) {
        margin-top: rem(32);
        font-size: rem(22);
        line-height: math.div(32, 22);
      }
    }
  }
}
