@use './mixins' as *;
@use 'sass:math';



@mixin heading-typography {
  font-family: $big-shoulders-display;
  font-size: clamp(rem(60), calc((70 / 768) * 100vw), rem(96));
  font-weight: 900;
  line-height: math.div(55, 60);
  color: color(almost-black);
}

.rt-section-hero {
  @include media(tablet) {
    display: grid;
    grid-template-columns: rem(437) 1fr;
    padding-right: math.percentage(40 / 768);
  }

  @include media(laptop) {
    display: block;
    padding-top: rem(189);
    @include container-laptop;
  }
}

.rt-section-hero .background {
  @include media(laptop) {
    position: absolute;
    height: rem(800);
    z-index: -1;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;

    &::before {
      content: '';
      display: block;
      @include size(calc($padding-left-laptop + rem(285)), rem(800));
      background-color: color(almost-black);
    }
  }

  .bg-image-container {
    display: flex;
    justify-content: center;
    align-items: center;

    @include media(laptop) {
      width: rem(540);
    }
  }

  .bg-image {
    width: 100%;
    height: auto;
  }
}

.rt-section-hero .content {
  margin: rem(32) math.percentage(16 / 375) 0;
  display: grid;
  grid-template-columns: 100%;
  gap: rem(32);

  @include media(tablet) {
    margin: rem(145) 0 0 rem(-48);
    max-width: rem(514);
    gap: rem(48);
  }

  @include media(laptop) {
    margin: 0;
    grid-template-columns: rem(456) rem(350);
    max-width: unset;
    width: 100%;
    justify-content: space-between;
    gap: rem(48);
  }

  .title {
    @include heading-typography;

    @include media(laptop) {
      width: rem(456);
      position: relative;

      &::before {
        content: 'MODERN ART GALLERY';
        position: absolute;
        top: 0;
        left: 0;
        @include heading-typography;
        color: white;
        clip-path: polygon(0 0, rem(285) 0, rem(285) 100%, 0 100%);
      }
    }
  }

  .description {
    font-size: clamp(rem(18), calc((18 / 768) * 100vw), rem(22));
    line-height: math.div(28, 18);
    color: color(dark-grey);

    @include media(laptop) {
      width: rem(350);
      line-height: math.div(32, 22);
    }
  }

  .rt-button-link {
    @include media(laptop) {
      grid-column: 2 / span 1;
    }
  }
}
