@use './mixins' as *;

.rt-section-location {
  padding: rem(48) 0 rem(46);
  background-color: color(almost-black);
  color: color(white);
  display: flex;
  flex-direction: column;
  gap: rem(48);

  @include media(tablet) {
    padding: rem(88) rem(40) rem(80);
    flex-direction: row;
    justify-content: space-between;
  }

  @include media(laptop) {
    padding-top: rem(104);
    padding-bottom: rem(128);
    @include container-laptop;
  }

  .title {
    font-family: $big-shoulders-display;
    font-weight: 900;
    font-size: rem(50);
    line-height: rem(45);
    text-transform: uppercase;
    color: color(white);
    @include margin-container-mobile;

    @include media(tablet) {
      margin: 0;
      max-width: rem(225);
      font-size: rem(55);
      line-height: rem(50);
    }

    @include media(laptop) {
      max-width: rem(350);
      font-size: rem(70);
      line-height: rem(70);
    }
  }

  .address {
    display: flex;
    flex-direction: column;
    gap: rem(20);
    font-style: normal;
    @include margin-container-mobile;

    @include media(tablet) {
      margin: 0;
      max-width: rem(398);
    }

    @include media(laptop) {
      max-width: rem(540);
    }

    .street {
      font-family: $big-shoulders-display;
      font-weight: 900;
      font-size: rem(32);
      line-height: rem(32);
      text-transform: uppercase;
      color: color(gold);

      @include media(laptop) {
        font-size: rem(36);
        line-height: rem(36);
      }
    }

    .description,
    .complement {
      font-size: rem(18);
      line-height: rem(28);

      @include media(laptop) {
        font-size: rem(22);
        line-height: rem(32);
      }
    }

    .description {
      margin-top: rem(12);
    }

    .complement {
      margin-top: rem(4);
    }
  }
}
